.task-list {
  display: flex;
  gap: 3rem;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
}

.custom-class {
  display: none;
}

@media screen and (max-width: 676px) {
  .task-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
}
